.container {
  display: flex;
  height: 100vh;
  background-color: #fff;
  .content {
    position: relative;
    flex: 1;
    min-width: 560px;
    height: 100vh;
    background-color: #f4f4f4;
    overflow: hidden;
    .canvas-container {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      width: 400px;
      max-height: 640px;
      overflow: auto;
      top: 20px;
      bottom: 20px;
      background-color: #fff;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
    }
  }
  .layer-container, .attr-container {
    width: 280px;
    min-width: 280px;
  }
}