$header-height: 64px;
$footer-height: 70px;

$primary-hover-color: #4096ff;
$primary-color: #1677ff;
$primary-active-color: #0958d9;

$danger-hover-color: #ff4d4f;
$danger-color: #ff4d4f;
$danger-active-color: #ff7875;